# Node.js dependencies
node_modules/

# Python dependencies
.venv/
__pycache__/
*.py[cod]
*.egg-info/

# Logs
*.log
logs/
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.idea/
.vscode/
.sublime-project
.sublime-workspace

# Environment variables
.env

# Build directories
dist/
build/
client/build/

# Testing
coverage/

# Miscellaneous
*.swp
*.swo
*.tmp
*.temp

# Ignore migrations and database files
server/migrations/
server/app.db

client/node_modules/.cache/

.cache/

# ESLint cache
.eslintcache

# Stylelint cache
.stylelintcache

# Yarn and npm logs
.yarn-integrity
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Jest cache
jest/

# Temporary files
tmp/
temp/

# Any compiled code
*.out
*.o
*.obj
*.exe
*.dllclient/node_modules/.cache/
client/node_modules/.cache/
server/app.db
