/* Book Card Styles */
.book-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px;
  width: 200px;
  height: 300px;
  text-align: center;
}

.book-image {
  width: 100%;
  height: auto;
}

.book-info {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.book-info h3 {
  font-size: 18px;
  color: #3b5998;
  margin: 10px 0;
}

.book-info p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}
