.book-clubs-page {
  background-color: var(--page-background-color);
  color: var(--text-color);
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.book-clubs-page.light {
  --page-background-color: #f4f4f9;
  --text-color: #000;
}

.book-clubs-page.dark {
  --page-background-color: #121212;
  --text-color: #e0e0e0;
}

.book-clubs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; 
}

.book-club-card {
  border-radius: 8px;
  overflow: hidden;
  width: 350px; 
}

.book-club-card.light {
  background-color: #f0f0f0;
  color: #000;
}

.book-club-card.dark {
  background-color: #1f1f1f;
  color: #e0e0e0;
}

.book-club-info {
  text-align: left;
}

.book-club-info h3 {
  margin-top: 0;
  color: inherit; 
}

.genres {
  margin-top: 8px;
  font-size: 14px;
  color: inherit; 
}

.view-details-button {
  margin-top: 12px;
  background-color: #007bff; 
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.view-details-button:hover,
.view-details-button:focus {
  background-color: #0056b3;
}