/* Landing Page Styles */
.landing-page {
  display: flex;
  height: 100vh;
  width: 100vw; /* Ensure the page takes the full width of the viewport */
  background-image: url('background.webp');
  background-size: cover;
  background-position: center;
  margin: 0; 
  padding: 0;
}

.left-section, .right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.left-section {
  justify-content: flex-start;
  padding: 20px;
  color: black;
}

.welcome-section {
  text-align: left;
}

.welcome-section h1 {
  font-size: 36px;
  margin: 0; /* Remove default margin */
}

.welcome-section p {
  font-size: 18px;
  margin-top: 10px;
}

.right-section {
  justify-content: flex-start;
  align-items: flex-end;
  padding: 20px;
}

.form-container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.toggle-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-button:hover {
  background-color: #0056b3;
}
