/* Manage Club Page Styles */
.manage-club-page {
  display: flex;
  padding: 20px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.manage-club-page.light {
  background-color: #fff;
  color: #000;
}

.manage-club-page.dark {
  background-color: #121212;
  color: #e0e0e0;
}

.left-column, .center-column, .right-column {
  background-color: var(--column-background-color);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-right: 20px;
  flex-grow: 1;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.center-column {
  flex: 2;
  margin-right: 20px;
}

.right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.manage-club-container {
  margin-bottom: 20px;
}

.manage-club-container h2 {
  font-size: 28px;
  color: var(--heading-color);
}

.manage-section {
  margin-bottom: 20px;
}

.manage-section h3 {
  font-size: 20px;
  color: var(--heading-color);
}

.book-selection, .genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.book-item, .genre-item {
  display: flex;
  align-items: center;
}

.book-item input, .genre-item input {
  margin-right: 10px;
}

.success-message {
  color: green;
  font-size: 14px;
  margin-top: 20px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 20px;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: darkred;
}

.manage-section button {
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.manage-section button:hover {
  background-color: var(--button-hover-background-color);
}

.manage-section ul {
  list-style-type: none;
  padding: 0;
}

.manage-section li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

/* Dark Theme Variables */
.dark-theme {
  --column-background-color: #1f1f1f;
  --heading-color: #bb86fc;
  --button-background-color: #bb86fc;
  --button-text-color: #121212;
  --button-hover-background-color: #3700b3;
}

/* Light Theme Variables */
.light-theme {
  --column-background-color: #fff;
  --heading-color: #3b5998;
  --button-background-color: #3b5998;
  --button-text-color: white;
  --button-hover-background-color: #2a4378;
}
