.my-book-list-page {
  background-color: var(--page-background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.book-image {
  width: 100%;
  height: 150px; /* Adjusted height for better card appearance */
  object-fit: cover;
}

.rating {
  margin-top: 10px;
}

.ant-card {
  margin: 10px; /* Reduced margin for closer cards */
  width: 200px; /* Fixed width for consistency */
  border-radius: 8px; /* Match the BookCard style */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Match the BookCard style */
}

.ant-card-meta-title {
  font-size: 18px; /* Adjusted font size */
  color: var(--text-color);
}

.ant-card-meta-description {
  font-size: 14px; /* Adjusted font size */
  color: var(--secondary-text-color);
}

.ant-card-actions {
  display: flex;
  justify-content: center;
}

.empty-list-message {
  text-align: center;
  font-size: 16px;
  color: var(--secondary-text-color);
}

/* Add specific styles for the book-card in light and dark themes */
.book-card.light {
  background-color: var(--card-background-color);
  color: var(--text-color);
}

.book-card.dark {
  background-color: var(--card-background-color);
  color: var(--text-color);
}

/* Dark Theme Variables */
.my-book-list-page.dark {
  --page-background-color: #121212;
  --text-color: #e0e0e0;
  --card-background-color: #1c1c1c;
  --secondary-text-color: #a0a0a0;
}

/* Light Theme Variables */
.my-book-list-page.light {
  --page-background-color: #f4f4f9;
  --text-color: #000;
  --card-background-color: #fff;
  --secondary-text-color: #555;
}
