/* Register Styles */
.register-container {
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form .ant-form-item-label > label {
  color: black;
}

.register-form .ant-input,
.register-form .ant-input-password {
  background-color: white;
  color: black;
}

.register-form .ant-btn-primary {
  background-color: #007bff;
  border: none;
  color: white;
}

.register-form .ant-btn-primary:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-top: 5px;
}

/* Dark Theme Adjustments */
.register-container.dark .ant-form-item-label > label {
  color: white;
}

.register-container.dark .ant-input,
.register-container.dark .ant-input-password {
  background-color: #333;
  color: white;
}

.register-container.dark .ant-btn-primary {
  background-color: #0056b3;
  border: none;
  color: white;
}
