.user-profile-page {
  background-color: var(--page-background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.user-profile-page.light {
  --page-background-color: #f4f4f9;
  --text-color: #000;
  --card-background-color: #fff; /* Ensure the card background is white in light mode */
}

.user-profile-page.dark {
  --page-background-color: #121212;
  --text-color: #e0e0e0;
  --card-background-color: #1f1f1f; /* Ensure the card background is dark in dark mode */
}

.profile-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.left-column, .center-column, .right-column {
  flex: 1;
  margin: 20px;
}

.profile-card {
  text-align: center;
  background-color: var(--card-background-color); /* Use the variable for the card background */
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile-info h2 {
  margin: 0;
}

.created-clubs, .clubs-list, .friends-list {
  margin-top: 20px;
}

.created-clubs h3, .clubs-list h3, .friends-list h3 {
  margin-bottom: 10px;
}

.club-list .ant-list-item-meta-title, .friends-list .ant-list-item-meta-title {
  color: inherit;
}

.ant-list-item-meta-description {
  color: var(--text-color);
}

/* Ensure the book cards are fully white in light mode */
.book-card.light {
  background-color: #fff !important;
  color: #000 !important;
}

.book-card.dark {
  background-color: var(--card-background-color);
  color: var(--text-color);
}
